
{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'portalCorretoresHypno/vite.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabela de Vendas</title>
    <script type="module" crossorigin src="{% static 'portalCorretoresHypno/index-21D684So.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'portalCorretoresHypno/index-DkBGnRVr.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
