{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://city-solucoes.com/static/imagens/Rectangle-BMENXEXM.svg"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabela de Vendas</title>
    <script>
      const imgUrlAtmos = "https://city-solucoes.com/static/imagens/ATMOS CITY DESIGN.foto.png";
      const imgUrlAtmosLogo =
        "https://city-solucoes.com/static/imagens/ATMOS CITY DESIGN.logo.png";
      const imgUrlAzure = "https://city-solucoes.com/static/imagens/AZURE COMPACT LIFE.foto.png";
      const imgUrlAzureLogo =
        "https://city-solucoes.com/static/imagens/AZURE COMPACT LIFE.logo.png";
      const imgUrlBlanc = "https://city-solucoes.com/static/imagens/BLANC CASA DESIGN.foto.png";
      const imgUrlBlancLogo =
        "https://city-solucoes.com/static/imagens/BLANC CASA DESIGN.logo.png";
      const imgUrlGarten = "https://city-solucoes.com/static/imagens/CITY GARTEN.foto.png";
      const imgUrlGartenLogo = "https://city-solucoes.com/static/imagens/CITY GARTEN.logo.png";
      const imgUrlHouse = "https://city-solucoes.com/static/imagens/CITY HOUSE.foto.png";
      const imgUrlHouseLogo = "https://city-solucoes.com/static/imagens/CITY HOUSE.logo.png";
      const imgUrlPMajestic =
        "https://city-solucoes.com/static/imagens/CITY PARK MAJESTIC.foto.png";
      const imgUrlPMajesticLogo =
        "https://city-solucoes.com/static/imagens/CITY PARK MAJESTIC.logo.png";
      const imgUrlPPalace = "https://city-solucoes.com/static/imagens/CITY PARK PALACE.foto.png";
      const imgUrlPPalaceLogo =
        "https://city-solucoes.com/static/imagens/CITY PARK PALACE.logo.png";
      const imgUrlRP = "https://city-solucoes.com/static/imagens/CITY RICARDO PARANHOS.foto.png";
      const imgUrlRPLogo =
        "https://city-solucoes.com/static/imagens/CITY RICARDO PARANHOS.logo.png";
      const imgUrlWay = "https://city-solucoes.com/static/imagens/CITY WAY.foto.png";
      const imgUrlWayLogo = "https://city-solucoes.com/static/imagens/CITY WAY.logo.png";
      const imgUrlEpic = "https://city-solucoes.com/static/imagens/EPIC CITY HOME.foto.png";
      const imgUrlEpicLogo = "https://city-solucoes.com/static/imagens/EPIC CITY HOME.logo.png";
      const imgUrlHaut =
        "https://city-solucoes.com/static/imagens/HAUT COMPACT LIFE BY CITY.foto.png";
      const imgUrlHautLogo =
        "https://city-solucoes.com/static/imagens/HAUT COMPACT LIFE BY CITY.logo.png";
      const imgUrlHub = "https://city-solucoes.com/static/imagens/HUB COMPACT LIFE.foto.png";
      const imgUrlHubLogo = "https://city-solucoes.com/static/imagens/HUB COMPACT LIFE.logo.png";
      const imgUrlInfinity =
        "https://city-solucoes.com/static/imagens/INFINITY BUSINESS.foto.png";
      const imgUrlInfinityLogo =
        "https://city-solucoes.com/static/imagens/INFINITY BUSINESS.logo.png";
      const imgUrlLegacy = "https://city-solucoes.com/static/imagens/LEGACY CITY HOME.foto.png";
      const imgUrlLegacyLogo =
        "https://city-solucoes.com/static/imagens/LEGACY CITY HOME.logo.png";
      const imgUrlT23 = "https://city-solucoes.com/static/imagens/RESIDENCIAL T-23.foto.png";
      const imgUrlT23Logo = "https://city-solucoes.com/static/imagens/RESIDENCIAL T-23.logo.png";
      const imgUrlTerraco =
        "https://city-solucoes.com/static/imagens/TERRAÇO BOUGAINVILLE.foto.png";
      const imgUrlTerracoLogo =
        "https://city-solucoes.com/static/imagens/TERRAÇO BOUGAINVILLE.logo.png";

      const imgUrlpadrao = "https://city-solucoes.com/static/imagens/";
      const imgUrlCityOmLogo = "https://city-solucoes.com/static/imagens/CITY_OM_LOGO.png";
      const imgUrlCityOmLogoBlack =
        "https://city-solucoes.com/static/imagens/CITY_OM_LOGO_BLACK.png";
      const imgUrlCityOmLogoSvg = "https://city-solucoes.com/static/imagens/CITY_OM_LOGO.svg'%}";
      const imgUrl = "https://city-solucoes.com/static/imagens/main_page_picture_.png";
      const imgUrlLogo = "https://city-solucoes.com/static/imagens/logo.png";
      const imgUrlLogoBlack = "https://city-solucoes.com/static/imagens/logo_black.png";
      const imgUrlsvg = "https://city-solucoes.com/static/imagens/Rectangle.svg";
    </script>
    <script
      type="module"
      crossorigin
      src="{% static 'portalCorretoresHypno/html2canvas-D9SPbF4G.js'  %}"
    ></script>
    <script
      type="module"
      crossorigin
      src="{% static 'portalCorretoresHypno/index.es-B_lYsYFF.js'  %}"
    ></script>
    <script
      type="module"
      crossorigin
      src="{% static 'portalCorretoresHypno/purify.es-a-CayzAK.js'  %}"
    ></script>
    <script
      type="module"
      crossorigin
      src="{% static 'portalCorretoresHypno/index-DJ1lnNIO.js'  %}"
    ></script>

    <!-- <script
      type="module"
      crossorigin
      src="{% static 'portalCorretoresHypno/index.js'  %}"
    ></script> -->
    <link
      rel="stylesheet"
      crossorigin
      href="{% static 'portalCorretoresHypno/index-4V6eg4YP.css"
    />
  </head>
  <body>
    <div id="root"></div>
    <script defer>
      window.addEventListener("load", () => {
        const om_emps = [
          "AZURE COMPACT LIFE",
          "HAUT COMPACT LIFE BY CITY",
          "INFINITY BUSINESS",
          "BLANC CASA DESIGN",
          "EPIC CITY HOME",
          "TERRAÇO BOUGAINVILLE",
          "ATMOS CITY DESIGN",
          "LEGACY CITY HOME",
          "CITY RICARDO PARANHOS",
        ];
    
        var imagemLogo = document.createElement("img");
        imagemLogo.src = "https://city-solucoes.com/static/imagens/logo_black.png";
        imagemLogo.style.alignSelf = "flex-end";
    
        let flagFirstRender = false;
    
        let dropdown = document.getElementById("emps");
        dropdown.addEventListener("change", () => {
          setTimeout(() => {
            let divPrincipal = document.querySelector(
              "#emp_display > div.flex.justify-center.align-middle"
            );

            updateLogo();

            if (!flagFirstRender) {
              divPrincipal.appendChild(imagemLogo);

              flagFirstRender = true;
            }
          }, 500);
        });
        function updateLogo() {
          if (om_emps.includes(dropdown.value)) {
            imagemLogo.style.maxWidth = "20vw";
            imagemLogo.style.maxHeight = "100vh";
            imagemLogo.src =
              "{% static 'imagens/City OM cinza.png'  %}";
          } else {
            imagemLogo.style.maxWidth = "15vw";
            imagemLogo.src =
              "https://city-solucoes.com/static/imagens/logo_black.png";
          }
        }
      });
    </script>
  </body>
</html>

